.turn-summery-container {
  width: 100%;
}
.summery-wrapper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: bounce-in-bottom 1.1s both;
border: #b06ab3 dotted 2px;
box-shadow: rgba(240, 119, 195, 0.4) 0px 5px, rgba(235, 96, 184, 0.3) 0px 10px, rgba(224, 66, 166, 0.2) 0px 15px, rgba(228, 181, 211, 0.1) 0px 20px, rgba(134, 101, 122, 0.05) 0px 25px;
}
@keyframes bounce-in-bottom {
  0% {
            transform: translateY(500px);
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
            transform: translateY(0);
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
            transform: translateY(65px);
            animation-timing-function: ease-in;
  }
  72% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  81% {
            transform: translateY(28px);
            animation-timing-function: ease-in;
  }
  90% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
  95% {
            transform: translateY(8px);
            animation-timing-function: ease-in;
  }
  100% {
            transform: translateY(0);
            animation-timing-function: ease-out;
  }
}

.turn-summery-container h3 {
  margin-top: 20px;
}
.sum-msg-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px;
  color: white;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1.5px;
  text-align: center;
}

.sum-msg-wrap button {
  height: 50px;
  border-radius: 15px;
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
  margin-top: 15px;
  font-family: "Orbitron", sans-serif;
  letter-spacing: 2px;
}

.sum-msg-wrap button.text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
}

.sum-msg-wrap button:after {
  content: "";
  border-radius: 18px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}

.sum-msg-wrap button:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}

.sum-msg-wrap button:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}

.user-sum {
  /* margin-top: 10px; */
  display: flex;
  gap: 10px;
  background-color: #eb01816e;
  /* border: 1px solid black; */
  min-height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: rgb(251, 216, 252);
  font-weight: 500;
  font-family: "Orbitron", sans-serif;
  font-size: 15px;

  /* letter-spacing: 2px; */
}
.user-sum * {
  width: 120px;
  /* text-overflow: ellipsis;
  white-space:nowrap;
  overflow: hidden; */
}

.num{
width: 50px;
}
.wrong {
  background-color: rgb(221, 88, 88);
}
.correct {
  background-color: #55ac4a;
}
.correct-dot {
  color: white;
  background-color: rgb(115, 228, 101);
  /* padding: 5px; */
  border-radius: 50%;
  height: 15px;
  width: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.wrong-dot {
  color: white;
  background-color: rgb(221, 88, 88);
  border-radius: 50%;
  height: 15px;
  width: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.greatJob{
background-color: #3e1b3f8e;
border-radius: 15px;
padding: 5px;
letter-spacing: 1.3px;
max-width: 500px;
font-size: 16px;
color: #f50290;
}