.homepage-container{
  height: calc(100vh - 50px);
  width:100vw;
  display:flex;
  gap: 20px;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 20px;
  background-image: url('../../imgs/1.jpg');
  /* background-image: url('../../imgs/2.jpg'); */
  /* background-image: url('../../imgs/3.jpg'); */
  background-image: url('../../imgs/4.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-image: linear-gradient( 135deg, #3B2667 10%, #BC78EC 100%); */
  /* background-color: rgb(46, 2, 71); */
  font-family: 'Montserrat', sans-serif;
}