.sum-btn{
  height:20px;
  width:60px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border:none ; 
  font-family: 'Raleway', sans-serif;
}

  .sum-btn-container{
    display:flex;
    /* flex-direction: column; */
    gap: 10px;
  }

  .card{
    display:flex;
    gap: 10px;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
    border-bottom: 1px solid white;
    font-family: 'Raleway', sans-serif;
    text-shadow: 1px 4px 5px rgba(90,78,78,0.5);
    font-weight:bold;
  }

  .card-img{
    border-radius: 50%;
    width:40px;
    height:40px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  .icon-trash {
    font-size: 1.3em;
    padding: 1px;
  }