.turn-summery-container h3 {
  margin-top: 20px;
}

.user-sum {
  margin-top: 10px;
  display: flex;
  gap: 10px;
  background-color: azure;
  border: 1px solid black;
  height: 50px;
  align-items: center;
  padding: 10px;
}

.correct {
  color: white;
  background-color: rgb(42, 180, 24);
}

.wrong {
  color: white;
  background-color: rgb(199, 5, 5);
}
/* .seconds{
} */
